<div class="jumbotron gilette">
  <div class="container">
  	<h2>Hi <%= "#{@user['name']}" %>! Welcome to your profile page!</h2>
  </div>
</div>

<div class="comments" style="margin-left: 10%">    
  <% @topics.each do |topic| %>
    <h2>Previous Topics Started:</h2>
      <h4><a href="/topic/<%="#{topic['id']}"%>"><%= "#{topic['topic_name']}" %></a></h4>
  <% end %>

  <% @comments.each do |comment| %>
  	<h2>Previous Comments Made:</h2>
  	<p><%= comment['comment_content']%></p>
  <% end %>
</div>