<div class="jumbotron">
	<div class="container">
		<h2><%= "#{@topic['topic_name']}" %></h2>
		<p><strong>Name: </strong><%= "#{@topic['name']}" %></p>
        <p><strong>Email: </strong><%= "#{@topic['email']}" %></p>
        <p><strong>Comment: </strong><%= "#{@topic['topic_comment']}" %></p>
        <p><a class="btn btn-primary btn-lg" href="/topic" role="button">Post a comment! &raquo;</a></p>
	</div>
</div>