<div class="jumbotron">	
	<div class="container">
		<h1 style="text-align: center">Start a new topic!</h1>
		<% if @contact_submitted %>
			<p>Thank you!</p>
		<% else %>
			<form class="topic" action="/topic" method="post">
				
				<div class="input-row">
					<label for="topic">Topic Title (max 100 characters): </label>
					<input type="text" name="topic"/>
				</div>

				<div class="input-row">	
					<label for="comment">Topic Blurb: </label>
					<textarea name="comment"></textarea>	
				</div>	

				<div class="input-row">
					<input type="submit" value="Submit Topic!"/>
				</div>
			</form>
		<% end %>	
	</div>	
</div>	