div.gilette {
  background-image: url("gilette.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

div.gilette h1, div.gilette p {
  color: white;
  text-shadow: 2px 2px black;
}

div.row {
  margin-left: 1%;
}

/*pre.user {
  display: inline-block;
  position: absolute;
}*/

/*form.topic, form.comment {
  width: 600px;
  background: #FBE0B6;
  padding: 20px;
  margin: 0 auto;
}

form.topic, form.comment div.input-row {
  padding: 6px;
}

form.topic, form.comment div.input-row label {
  vertical-align: top;
  font-size: 22px;
  display: inline-block;
  width: 400px;
}

form.topic, form.comment div.input-row input[type=text] {
  font-size: 22px;
  width: 500px;
  height: 50px;
  padding: 6px;
  border: 1px solid #bbb;
}

form.topic, form.comment div.input-row textarea {
  font-size: 22px;
  padding: 6px;
  width: 500px;
  height: 200px;
  border: 1px solid #bbb;
}

form.topic, form.comment div.input-row input[type=submit] {
  font-size: 22px;
  border: 1px solid #bbb;
  margin-left: 126px;
  background: #DE5A51;
  padding: 6px 20px;
  cursor: pointer;
}*/