form.topic {
  width: 600px;
  background: #FBE0B6;
  padding: 20px;
  margin: 0 auto;
}

form.topic div.input-row {
  padding: 6px;
}

form.topic div.input-row label {
  vertical-align: top;
  font-size: 22px;
  display: inline-block;
  width: 400px;
}

form.topic div.input-row input[type=text] {
  font-size: 22px;
  width: 500px;
  height: 50px;
  padding: 6px;
  border: 1px solid #bbb;
}

form.topic div.input-row textarea {
  font-size: 22px;
  padding: 6px;
  width: 500px;
  height: 200px;
  border: 1px solid #bbb;
}

form.topic div.input-row input[type=submit] {
  font-size: 22px;
  border: 1px solid #bbb;
  margin-left: 126px;
  background: #DE5A51;
  padding: 6px 20px;
  cursor: pointer;
}