/*Homepage CSS*/

div.gilette {
  background-image: url("gilette.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

div.gilette h1, div.gilette p {
  color: white;
  text-shadow: 2px 2px black;
}

/*div.row {
  margin-left: 1%;
  position: relative;
  height: 100px;
}*/

/*div.row {
  position: relative;
  float: left;
}*/

/*div.voting, div.topic-and-author, div.comment-score {
  float: left;
  display: inline-block;
}*/

/*div.topic-and-author {
  display: inline;
}*/

/*div.comment-score {
  float: right;
}*/

/*Login, Signup, Topic and Comment Page CSS*/

div.error-message {
  margin-left: 40%;
  color: red;
}

form.topic {
  margin-left: 28%;
}

input.form-control {
  width: 35%;
}

textarea.comment {
  width: 40%;
}